@model Socialley.Web.ViewModels.Posts.PostViewModel
@{
    this.ViewData["Title"] = "Home Page";
    async Task DisplayComments(string parentId)
    {
        var comments = this.Model.PostComments.Where(x => x.ParentId == parentId);
        if (!comments.Any())
        {
            return;
        }
        @foreach (var comment in comments)
        {
            <div class="media">
                <img class="mr-3 rounded-circle" alt="Bootstrap Media Preview" src="@comment.UserProfileUrl" />
                <div class="media-body">
                    <div class="row">
                        <div class="col-10 d-flex">
                            <h5>@comment.UserName</h5><span class="ml-2"><time datetime="@comment.CreatedOn.ToString("o")"></time></span>

                        </div>
                        <div class="col-2 d-flex">
                            @{
                                var commentId = $"\"{comment.CommentId}\"";
                            }
                            @if (this.User.Identity.IsAuthenticated)
                            {
                                <div class="pull-right reply"> <a href="#"><span><i class="fa fa-reply" onclick="showAddCommentForm(@commentId)"> reply</i></span></a> </div>
                            }
                        </div>
                        <div>
                            <article id="short-content @comment.CommentId">
                                @Html.Raw(comment.SanitizedShortContent)
                            </article>
                            <article id="whole-content @comment.CommentId" style="display:none">
                                @Html.Raw(comment.SanitizedContent)
                            </article>

                            @if (comment.SanitizedContent.Length > 300)
                            {
                                <a href="#" id="read-more @comment.CommentId" onclick="readMore(@commentId); return false">Read More</a>
                            }
                            @{
                                DisplayComments(comment.CommentId);
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}

<section class="post-by-id">
    <div class="container container-post">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="cardbox shadow-lg bg-white">

                    <div class="cardbox-heading">
                        <div class="media m-0">
                            <div class="d-flex mr-3">
                                <img src="@this.Model.UserProfileImageUrl" alt="" width="50px" class="rounded-circle">
                            </div>
                            <div class="media-body">
                                <p class="m-0"><a class="user-profile-hyperlink paragraph-popover" asp-area="" asp-controller="Users" asp-action="UserProfile" asp-route-userId="@this.Model.UserId">@this.Model.UserUserName</a></p>
                                <small><span class="post-datetime-created">@this.Model.CreatedOn.ToShortDateString()</span></small>
                            </div>
                        </div>
                    </div>

                    <div class="cardbox-item">
                        <img class="img-fluid" src="@this.Model.ImageUrl" alt="Image">
                    </div>
                    <div class="cardbox-base">
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            var id = $"\"{this.Model.Id}\"";
                            <div class="clearfix row">
                                <form class="favoritesForm" method="post"></form>
                                <div class="col-1 ml-2 mt-2 mb-2">

                                    @if (this.Model.IsLiked)
                                    {
                                        <a href="#" onclick="addToFavorites(@id); return false"><i class="fa fa-heart like" style="color:red"></i></a>
                                    }
                                    else
                                    {
                                        <a href="#" onclick="addToFavorites(@id); return false"><i class="fa fa-heart like"></i></a>
                                    }
                                </div>
                                <div class="col-1 mt-2">
                                    <div id="favoritesCount">@this.Model.FavoritesCount</div>
                                </div>
                                <div class="col-1 mt-2">
                                    <button type="button" class="comment-button" onclick="showAddCommentForm(null)"><i class="fa fa-comment-dots"></i></button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="btn btn-primary show-hide" onclick="commentsInteract()">Hide comments</div>
        <div>
            <form asp-controller="Comments" asp-action="Create" method="post" id="AddCommentForm" style="display: none">
                <input type="hidden" name="PostId" value="@this.Model.Id" />
                <input type="hidden" name="ParentId" value="0" />
                <div>
                    <label for="Content"></label>
                    <textarea name="Content" id="Content" class="form-control"></textarea>
                </div>
                <div>
                    <input type="submit" class="btn btn-primary" value="Add comment" />
                </div>
            </form>
        </div>
        <div class="container-comments">
            <div class="container mb-5 mt-5">
                <div class="comment" >
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center mb-5"> Comments section </h3>
                            <div class="row">
                                <div class="col-md-12">
                                    @{ DisplayComments(null); }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: 'lists code emoticons',
        toolbar: 'undo redo | styleselect | bold italic | ' +
            'alignleft aligncenter alignright alignjustify | ' +
            'outdent indent | numlist bullist | emoticons',
        emoticons_append: {
            custom_mind_explode: {
                keywords: ['brain', 'mind', 'explode', 'blown'],
                char: '🤯'
            }
        },
    });
</script>

<script>
    function showAddCommentForm(parentId) {
        $("#AddCommentForm input[name='ParentId']").val(parentId);
        $("#AddCommentForm").show();
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#AddCommentForm").offset().top
        }, 1000);
    }
</script>
